<h3><%= title %></h3>
<ul>
  <% credentials.each do |credential| %>
    <li>
      <span>
        <span><%= credential.nickname %></span>
        <span><%= credential.external_id %></span>
      </span>

      <% if can_delete.call %>
        <%= link_to "Delete credential", delete_path.call(credential), data: { turbo_method: :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>
